<h3>Blackhawks Blog</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
<br><br><br>
<p>The Hawks are back at it this season and are rolling with a great record into the playoffs</p>

<img src="http://graphics8.nytimes.com/images/2013/06/09/sports/hockey/09blackhawks1-img/09blackhawks1-img-superJumbo.jpg" alt="Blackhawks">

